.wrapper
  .col-1
    .today
      .date
        ul
          li {{date | date: 'MMMM'}}
          li {{date | date: 'd'}}
      .time
        ul
          li {{date | date: 'EEEE'}}
          li {{date | date: 'h'}}:{{date | date: 'mm'}} {{date | date: 'a' | lowercase}}
    
    .weather
      .now
        ul
          li {{weather.temp}}&deg;
          li {{weather.readable}}
      .later
        ul
          li 
            span {{weather.hourly.first.FCTTIME.hour}} {{weather.hourly.first.FCTTIME.ampm}}
            span.right {{weather.hourly.first.feelslike.english}}&deg;
            //- span.right {{weather.hourly.first.pop}}
          li 
            span {{weather.hourly.second.FCTTIME.hour}} {{weather.hourly.second.FCTTIME.ampm}}
            span.right {{weather.hourly.second.feelslike.english}}&deg;
            //- span.right {{weather.hourly.second.pop}}


  .col-2
    .section.lightblue
      h1 Metro 
      h3.redline Farragut North
      ul.redline
        li(ng-repeat="item in metro.A02")
          span(ng-if="item.destinationLetter === 'B'") {{item.destinationName}}
          span.time(ng-if="item.destinationLetter === 'B'") {{item.min}}
    .section        
      ul
        li(ng-repeat="item in metro.A02")
          span(ng-if="item.destinationLetter === 'A'") {{item.destinationName}}
          span.time(ng-if="item.destinationLetter === 'A'") {{item.min}}   


    .section
      h3 Farragut West
      ul
        li(ng-repeat="item in metro.C03")
          span(ng-if="item.line === 'OR'") {{item.destinationName}}
          span.time(ng-if="item.line === 'OR'") {{item.min}}
    .section        
      ul
        li(ng-repeat="item in metro.C03")
          span(ng-if="item.line === 'BL'") {{item.destinationName}}
          span.time(ng-if="item.line === 'BL'") {{item.min}}

    .section
      h3 Dupont Circle
      ul
        li(ng-repeat="item in metro.A03 | limitTo:2")
          span(ng-if="item.destinationLetter === 'B'") {{item.destinationName}}
          span.time(ng-if="item.destinationLetter === 'B'") {{item.min}}
    .section  
      ul
        li(ng-repeat="item in metro.A03 | limitTo:2")
          span(ng-if="item.destinationLetter === 'A'") {{item.destinationName}}
          span.time(ng-if="item.destinationLetter === 'A'") {{item.min}} 





  .col-3
    .section.red.relative
      h1 Capital Bikeshare
      h3 Farragut North
      ul
        li.relative
          p 18th and M 
          .number-of-bikes 
            p {{bikes.mStreet.nbBikes[0]}}
        li.relative
          p 17th and RI 
          .number-of-bikes 
            p {{bikes.rIStreet.nbBikes[0]}}
  .col-4
    .section.green
      h1 Traffic
      google-map(center="map.center", zoom="map.zoom", pan="false")
        marker(coords="map.center")
        layer(type='TrafficLayer', show="map.showTraffic")    
















    