doctype html
html(ng-app='app')
  head
    title 
    link(rel='stylesheet', href='/public/style/main.css')
    link(rel='stylesheet', href='/public/style/animate.css')
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  body
    #main(ng-view) 
    <script src='https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBkt8EAy5CdFIUhP0k91C1F4VRIV5hPJbw'></script>
    script(src='/public/scripts/main.js')
    script(type="text/javascript", src="public/scripts/lodash.js")  
    script(type="text/javascript", src="public/scripts/googleMaps.min.js")
    script(type="text/javascript", src="public/scripts/TweenMax.min.js")    
    script(type="text/javascript", src="public/scripts/ng-Fx.js")
        
