@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/font-face";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/utilities/general/clearfix";
@import "susy";
@import "mixins";

// Variables
$susy:(
  columns: 24,
  gutters: 1/2,
  global-box-sizing: border-box,
);
$containerSize: 96%;
$gutterSize: 25px;
// Colors

// UI
$lightBlue: #30B3FF;
$darkBlue: #596E8E;
$darkBgBlue: #3A3F4F;
$red: #F53A58;
$green: #26D3B8;
$gray: #E8E5E5;
$darkGray: #6D6E71;
$lightGray: #E8E8EE;

// Metro Lines
$metroLineBlue: #1C75BC;
$metroLineOrange: #F7941E;
$metroLineRed: #E53851;


// Fonts
@include font-face("ProximaNova-Light", "../font/proxima/ProximaNova-Light.otf");
@include font-face("ProximaNova-Regular", "../font/proxima/ProximaNova-Regular.otf");
@include font-face("ProximaNova-Semibold", "../font/proxima/ProximaNova-Semibold.otf");
@include font-face("ProximaNova-Bold", "../font/proxima/ProximaNova-Bold.otf");
$font-color: $lightGray;
$font-family: 'ProximaNova-Light', sans-serif;
$heading: 30px;
$subHeading: 20px;
$text: 16px;


// Styles
body {
  background-color: $gray;
  color: $font-color;
  font-family: $font-family;
  @include box-sizing(border-box);
  @include full-bg('../images/bg.jpg');
}

h1 {
  font-size: $heading;
  color: white;
}

h3 {
  font-size: $subHeading;
}

p {
  font-size: $text;
}


.wrapper {
  @include container($containerSize);
}

.relative {
  position: relative;
}


.number-of-bikes {

  background-color: $lightGray;
  position: absolute;
  right: -14px;
  top: 0;
}



.today {
  text-align: center;
  
  .date {
    padding: 20px;
    background-color: white;
    color: $red;
    li:last-child {
      font-size: 60px;
      line-height: 60px;
    }
  }
  
  .time {
    padding: 20px;
    background-color: $red;
    color: white; 
    li:last-child {
      font-size: 30px;
      line-height: 50px;
    } 
  }
}

.weather {
  margin-top: $gutterSize;
  .now {
    background-color: $green;
    color: white;
    text-align: center;
    padding: 20px;
    li:first-child {
      font-size: 60px;
      line-height: 70px;
    }
  }
  .later {
    background-color: white;
    padding: 20px;
  }
}



.right {
  float: right;
}

.lightblue {
  @include apply-heading($lightBlue);  
}
.red {
  @include apply-heading($red);
}
.green {
  @include apply-heading($green);  
}




.col-1 {
  @include span(3);
}
.col-2 {
  @include span(6);
  
}
.col-3 {
  @include span(7);
  
}
.col-4 {
  @include span(8);
  margin: 0;
}

.angular-google-map-container { height: 556px; }








@import "styles";