@mixin full-bg($url) {
  background-image: url($url);
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@mixin apply-heading($color) {
  h1 {
    background-color: $color;
    padding: 12px;
  }
}

@mixin make-box($color) {
  background-color: $color; 
  padding: 18px;
  .heading {
    height:22px;
    h1 {
      display: inline-block;
      float: left;
    }
    img {
      display: inline-block;
      float:right;
      margin-top: -5px;
    }
  }
}