$font-color: #E8E8EE;
$darkBlue: rgba(58, 63, 79, .75);
$blue: #fba03c;
$red: #2fb3ff;
$green: #25bba0;

$bikeShare: #ed3957;
$traffic: #3f5373;

$separatorBlue: #293648;

$walkingBlue: #3581A0;


$font-weight: normal;
body {
  color: $font-color;
  font-weight: $font-weight;
}



section.heading {
  margin-top: 20px;
  margin-bottom: 10px;
  li {
    margin-right: 48px;
  }
}

.center {
  text-align: center;
}



.section {
  margin-bottom: 20px;
}
.full {
  display: block;
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}

.large {
  font-size: 70px;
}
.medium {
  font-size: 45px;
}
.small {
  font-size: 28px;
}
.right {
  float: right;
}
.left {
  float: left !important;
}
.extra {
  padding: 1px 10px 1px 11px !important;
}
.white {
  color: white;
}
.inline {
  list-style-type: none;
  li {
    display: inline-block;
  }
}

li {
  padding: 5px 0 5px 0;
}


.box-green { @include make-box($green); }
.box-red { @include make-box($red); }
.box-blue { @include make-box($blue); }
.box-traffic { @include make-box($traffic);}
.box-bikeShare { @include make-box($bikeShare);}



.box { 
  @include make-box($darkBlue);
}



.divider {
  border-bottom: 1px solid $separatorBlue;

}

.rain-drop {
  margin-left: 4px;
}

.clearfix {
  @include  clearfix();
}

.metro-heading {
  position: relative;
  h3 {
    display: inline-block;
    margin-bottom: 20px;
  }
  img {
    display: inline-block;
    margin-right: 2px;
    margin-left: 8px;
    position: absolute;
    top: -2px;
  }
  .second-image {
    left: 146px;
  }
}

.walking-distance {
  display: inline-block;
  float: right;
  background-color: $walkingBlue;
  padding: 3px 8px 2px 9px;
  @include border-radius(14px);
  span {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.walking-man {
    margin:0 !important;
    padding: 0 !important;
    top: 0 !important;
    position: static !important;
}

.time {
  float: right;
}




.RD {
  position: relative;
  padding-left: 20px;
  &:before {
    content: url('../images/redLineIcon.png');
    position: absolute;
    top: 5px;
    left:0;
  }
}
.OR {
  position: relative;
  padding-left: 20px;
  &:before {
    content: url('../images/orangeLineIcon.png');
    position: absolute;
    top: 5px;
    left:0;
  }
}
.BL {
  position: relative;
  padding-left: 20px;
  &:before {
    content: url('../images/blueLineIcon.png');
    position: absolute;
    top: 5px;
    left:0;
  }
}

.white {
  color: white;
}

li.right {
  span {
    font-size: 12px;
    margin-right: -8px;
  }
}

li.hourly {
  margin-left: -8px;
}

li.mini-icon {
  margin-left: 8px;
  width: 100px;
  text-align: center;
}
